.App {
  text-align: center; 
   background-color: black;
}

.Header {
  color: rgba(223, 223, 29, 0.842);

  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.card-none{
  background-color: black; 
  border: none;
  outline: none;
}
.card-see {
  background-color: black;
  border: 4px solid rgba(223, 223, 29, 0.842);
}

.App button {
  text-align: center;
}